#header{
    display: flex;
    justify-content: space-around;
    background-color: paleturquoise;
}

#nav-items-ul{
    display: flex;
    list-style: none;
    justify-self: auto;
    gap: 20px;
}
.restaurant-card{
   
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 20%;
   
}
.restaurant-card:hover{
     border: 1px solid black;
    box-shadow: 5px 10px grey;
    cursor: pointer;
   
}
.restaurant-logo{
    width: 100%;
    
}
.search{
    margin: 10px;

}
.restaurant-container{
    display: flex;
    flex-wrap: wrap;    
}